body{
  background-color:pink
}
header{
  background-color: #022;
  color: pink;
  padding: 10px 0;
}
nav ul{
  list-style-type: none;
  padding: 0;
}
body{
  font-family: Arial, sans-seri;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
}
section{
  padding: 20px;
}

article{
  background-color: darkgray;
  padding: 15px;
  margin: 10px auto;
  width:100px;
  border radius: 5px;
  box-shadow: 2px 2px 10px rgba(o,o)
}
footer{
  background-color: white;
  color: white;
  padding: 10px 0;
  margin-top: 20px;
}
article img{
  margin-top: 15px;
  max-width: 70%;
  height: auto;
  border-radius: 5px;
}
article video{
   margin-top: 15px;
   max-width: 70%;
  border-radius: 5px;
}
nav ul li{
  display: inline;
  margin: 0 15px;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
form {
  display: inline;
  margin: 0 15px;
  width: 20px auto;
   max-width: 100%;
  background-color: white;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px red;
}
form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
form imput,
  form textarea {
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form botton{
  padding: 10px 20px;
  background-color: cyan;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover{
  background-color: greenyellow;
}
section img{
  
}